<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}Welcome !{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">

        <!-- My CSS file -->
        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark info-color" id="myNavbar">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <i class="fa fa-snowflake-o" aria-hidden="true"></i> <strong>Snowtricks</strong> <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navCollapse">
                <ul class="navbar-nav ml-auto">
                    {% if app.request.attributes.get('_route') == "homepage" %}
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light" href="{{ path('homepage') }}">
                                <i class="fa fa-home" aria-hidden="true"></i> Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="{{ path('homepage') }}">
                                <i class="fa fa-home" aria-hidden="true"></i> Home
                            </a>
                        </li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') in ["tricks_details", "tricks_update"] %}
                        <li class="nav-item active">
                            <a class="nav-link waves-effect waves-light" href="{{ path('tricks_details') }}">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i> Tricks
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="{{ path('tricks_details') }}">
                                <i class="fa fa-snowflake-o" aria-hidden="true"></i> Tricks
                            </a>
                        </li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') in ["login", "forgot_password"] %}
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="{{ path('login') }}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="{{ path('login') }}">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                            </a>
                        </li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == "registration" %}
                    <li class="nav-item active">
                        <a class="nav-link waves-effect waves-light" href="{{ path('registration') }}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign up
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect waves-light" href="{{ path('registration') }}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sign up
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="{{ path('logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Modale confirm delete -->
        <div class="modal fade top modal-content-clickable" id="js-confirm-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false" aria-hidden="true">
            <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body">
                        <div class="row d-flex justify-content-center align-items-center">
                            <p class="pt-3 pr-2">
                                Etes-vous sûr d'effectuer cette action ? Les données supprimées ne pourront être récupérées !
                            </p>
                            <a class="btn btn-outline-success">Oui</a>
                            <a class="btn btn-outline-danger" data-dismiss="modal">Non</a>
                        </div>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>

        {% block body %}{% endblock %}

        <footer class="page-footer font-small blue pt-4" id="myFooter">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-12 col-md-6 mt-md-0 mt-3">
                        <!-- Content -->
                        <h5 class="text-uppercase">Lorem ipsum</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis arcu libero, hendrerit sit amet venenatis non, interdum sed dui. Maecenas nec dapibus quam. Suspendisse efficitur est a tortor accumsan viverra. Morbi magna purus, venenatis eget libero sed, vehicula posuere odio. Praesent lobortis sodales eros, ut malesuada orci.</p>
                    </div>
                    <!-- Grid column -->
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <!-- Grid column -->
                    <div class="col-6 col-md-3 mb-md-0 mb-3">
                        <!-- Links -->
                        <h5 class="text-uppercase">Category A</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#A1">Link 1</a>
                            </li>
                            <li>
                                <a href="#A2">Link 2</a>
                            </li>
                            <li>
                                <a href="#A3">Link 3</a>
                            </li>
                            <li>
                                <a href="#A4">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-6 col-md-3 mb-md-0 mb-3">
                        <!-- Links -->
                        <h5 class="text-uppercase">Category B</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#B1">Link 1</a>
                            </li>
                            <li>
                                <a href="#B2">Link 2</a>
                            </li>
                            <li>
                                <a href="#B3">Link 3</a>
                            </li>
                            <li>
                                <a href="#B4">Link 4</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <!-- Footer Links -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright :
                <a href="https://thibaut-tourte.com"> Thibaut Tourte</a>
            </div>
            <!-- Copyright -->
        </footer>

        <section id="myPhoneNavbarMarge"></section>

        <nav class="container-fluid" id="myPhoneNavbar">
            <div class="row info-color" id="myPhoneNavbarA">
                <div class="col-3">
                    <a href="{{ path('homepage') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div class="col-3">
                    <a href="{{ path('tricks_details') }}"><i class="fa fa-snowflake-o" aria-hidden="true"></i></a>
                </div>
                <div class="col-3">
                    <a href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                </div>
                <div class="col-3">
                    <a href="{{ path('registration') }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
                {#
                <div class="col-4">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div class="col-4">
                    <a href="#"><i class="fa fa-snowflake-o" aria-hidden="true"></i></a>
                </div>
                <div class="col-4">
                    <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </div>
                #}
            </div>
        </nav>

        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/js/mdb.min.js"></script>
        <!-- TinyMCE -->
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=b4tpr3u5rzqh58sg99vmmi45zswzdicshnnsc2rv8oyop1fm"></script>
        <!-- My JS file -->
        <script type="text/javascript" src="{{ asset('build/js/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
