{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0 mx-auto">
                <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#tricks">
                    <i class="fas fa-arrow-down"></i>
                </button>
                <div class="text-image">
                    <h1>Lorem ipsum dolor sit amet</h1>
                </div>
                <img src="{{ asset('images/home.jpg') }}" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        {% if tricks %}
            <div class="row justify-content-around" id="tricks">
                {% for trick in tricks %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3">
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                {% set imageFound = false %}
                                {# FOR IMAGES #}
                                {% for image in trick.owner.images %}
                                {# IF ONE IMAGE AND IT IS THE FIRT #}
                                {% if image.link matches '/^first_.*/' %}
                                    <img src="{{ asset('images/downloaded/tricks/' ~ image.link) }}" class="img-fluid" alt="Responsive image">
                                    {% set imageFound = true %}
                                {% endif %}
                                {% endfor %}
                                {# IF NONE IMAGE #}
                                {% if imageFound != true %}
                                    <img src="{{ asset('images/no_trick.jpg') }}" class="img-fluid" alt="Responsive image">
                                {% endif %}
                                <a href="{{ path('tricks_details', {"slug": trick.owner.slug}) }}">
                                    <div class="mask waves-effect waves-light"></div>
                                </a>
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">{{ trick.owner.title }}</h4>
                                <!--Text-->
                                <div class="card-text btn-group float-right">
                                    <a href="" class="btn btn-outline-info px-2 py-1"><i class="fas fa-pencil-alt fa-lg"></i></a>&nbsp;
                                    <a href="{{ path('tricks_delete', {"slug": trick.owner.slug}) }}" class="btn btn-outline-danger px-2 py-1 js-confirm-modal" data-toggle="modal" data-target="#js-confirm-modal" data-backdrop="true"><i class="fas fa-trash-alt fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <button class="btn btn-outline-success position-absolute r-0 px-3 js-scrollTo" href="#myNavbar">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button type="button" class="btn btn-success waves-effect waves-light my-2 mb-0"><i class="fas fa-cog" aria-hidden="true"></i> Load more</button>
                </div>
            </div>
        {% else %}
            <!-- Jumbotron -->
            <div class="jumbotron text-center mdb-color lighten-2 white-text mx-5 my-3">
                <!-- Title -->
                <h2 class="card-title h2">No trick for the moment...</h2>
                <!-- Subtitle -->
                <!--p class="my-4 h6">Powerful and free Material Design UI KIT</p-->
                <!-- Grid row -->
                <div class="row d-flex justify-content-center">
                    <!-- Grid column -->
                    <div class="col-xl-7 pb-2">
                        <p class="card-text">No snowboard figures are currently listed on this site !<br/>
                            To add a new figure log in, then click on "New trick" !</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <hr class="my-4 rgba-white-light">
                <div class="pt-2">
                    {% if app.user %}
                        <button type="button" class="btn btn-outline-white" href="{{ path('tricks_add') }}">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i> New trick
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-white" href="{{ path('login') }}">
                            <i class="fas fa-sign-in-alt" aria-hidden="true"></i> Sign in
                        </button>
                    {% endif %}
                </div>
            </div>
            <!-- Jumbotron -->
        {% endif %}

    </section>
{% endblock %}