{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <section class="container-fluid bg-modal pt-3 pb-5">
        <div class="row">
            <div class="col-12">
                <form class="container text-center needs-validation" method="post" action="{{ path('login') }}" novalidate>
                    <div class="row mt-5">
                        <div class="col-12">
                            <h1>Login</h1>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3 mb-5">
                        <div class="col-12 col-md-6 border border-dark white pb-4">
                            <!--
                            <div class="md-form form-group">
                                <input type="email" id="email" name="email" class="form-control">
                                <label for="email">Email</label>
                            </div>
                            <div class="md-form form-group">
                                <input type="password" id="password" name="password" class="form-control">
                                <label for="password">Password</label>
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light mb-4">Login</button><br/>
                            -->
                            {% if error %}
                                <div class="text-danger">{{ error.messageKey|trans(error.messageData) }}</div>
                            {% endif %}
                            {% form_theme form '/forms/login.html.twig' %}
                            {{ form(form) }}
                            <a href="{{ path('registration') }}">Register</a>
                            <br/>
                            <a href="{{ path('forgot_password') }}">Forgot password ?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}