{% extends 'base.html.twig' %}

{% block title %}Media update{% endblock %}

{% block body %}
    <div class="container-fluid py-5" id="bg-img-trick-details">
        <div class="row">
            <div class="col-12">
                <section class="container bg-white border border-dark" id="container-trick-add">
                    <div class="row">
                        <div class="col-md-12 px-0 text-center">
                            <div class="text-image">
                                <h1>Update media</h1>
                            </div>
                            <div class="btn-group position-absolute l-0 px-1 mt-1">
                                <a href="{{ path('tricks_update', {"slug": media.trick.slug}) }}" class="btn btn-outline-warning px-2 py-1"><i class="fas fa-arrow-left fa-lg"></i></a>
                            </div>
                            {% if media.typeMedia.type == "image" %}
                                {# IF ONE IMAGE AND IT IS THE FIRST #}
                                <a href="{{ asset('images/downloaded/tricks/' ~ media.link) }}">
                                    <img src="{{ asset('images/downloaded/tricks/' ~ media.link) }}" class="img-fluid" alt="{{ media.alt }}">
                                </a>
                            {% elseif media.typeMedia.type == "video" %}
                                {% if media.link != "error" %}
                                    <div class="embed-responsive embed-responsive-16by9 full-height">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ media.link }}" alt="{{ media.alt }}" allowfullscreen></iframe>
                                    </div>
                                {% else %}
                                    <a href="{{ asset('images/error_video.png') }}">
                                        <img src="{{ asset('images/error_video.png') }}" class="img-fluid" alt="{{ media.alt }}">
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-md-12 px-5">
                            {% form_theme form '/forms/update_media.html.twig' %}
                            {{ form(form, {'media': media}) }}
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}



















