{% extends 'base.html.twig' %}

{% block title %}Tricks details{% endblock %}

{% block body %}
    <div class="container-fluid py-5" id="bg-img-trick-details">
        <div class="row">
            <div class="col-12">
                <section class="container bg-white border border-dark" id="container-trick-details">
                    <div class="row">
                        <div class="col-md-12 px-0 mx-auto">
                            {% if app.user %}
                            <div class="btn-group position-absolute r-0 px-1 mt-1">
                                <a href="" class="btn btn-outline-info px-2 py-1"><i class="fas fa-pencil-alt fa-lg"></i></a>&nbsp;
                                <a href="{{ path('tricks_delete', {"slug": trick.slug}) }}" class="btn btn-outline-danger px-2 py-1 js-confirm-modal" data-toggle="modal" data-target="#js-confirm-modal" data-backdrop="true"><i class="fas fa-trash-alt fa-lg"></i></a>
                            </div>
                            {% endif %}
                            <div class="text-image">
                                <h1>{{ trick.title }}</h1>
                            </div>
                            {% set imageFound = false %}
                            {# FOR IMAGES IF FIRST #}
                            {% for image in trick.images %}
                            {% if image.typeMedia.type == "image" and image.first %}
                                {# IF ONE IMAGE AND IT IS THE FIRST #}
                                <a href="{{ asset('images/downloaded/tricks/' ~ image.link) }}">
                                    <img src="{{ asset('images/downloaded/tricks/' ~ image.link) }}" class="img-fluid" alt="{{ image.alt }}">
                                </a>
                                {% set imageFound = true %}
                            {% endif %}
                            {% endfor %}
                            {# IF NONE IMAGE #}
                            {% if imageFound != true %}
                                <img src="{{ asset('images/no_trick.jpg') }}" class="img-fluid" alt="Default image if no image">
                            {% endif %}
                        </div>
                    </div>

                    <div class="row" id="mediasTrick">
                        {#
                        {% for image in images.owner.images if not (image.link matches '/^first_.*/') %}
                        #}
                        {% for image in trick.images %}
                        {% if image.typeMedia.type == "image" and not image.first %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 px-1 mt-3 view overlay zoom">
                            <div class="my-vertical-align">
                                <a href="{{ asset('images/downloaded/tricks/' ~ image.link) }}">
                                <img src="{{ asset('images/downloaded/tricks/' ~ image.link) }}" class="img-fluid rounded" alt="{{ image.alt }}">
                                <div class="mask flex-center waves-effect waves-light">
                                    <p class="black-text"><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></p>
                                </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% for link in trick.links %}
                        {% if link.typeMedia.type == "video" %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-3 px-1">
                            <div class="embed-responsive embed-responsive-16by9 full-height">
                                <iframe class="embed-responsive-item" src="{{ link.link }}" alt="{{ link.alt }}" allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% if trick.links|length > 0 %}
                    <div class="row text-center d-md-none d-lg-none d-xl-none">
                        <div class="col-md-12">
                            <a class="btn btn-success waves-effect waves-light my-2" id="seeMediasTrick"><i class="fa fa-gear" aria-hidden="true"></i> See medias</a>
                        </div>
                    </div>
                    {% endif %}

                    <br/>

                    <div class="row">
                        <div class="col-md-12 px-5 text-justify px-lg-5">
                            {{ trick.description | raw }}
                        </div>
                    </div>

                    <br/>

                    <div class="row justify-content-center text-center">
                        <div class="col-6 col-sm-5 col-lg-4 blue lighten-4 px-2">
                            <span>Créé le <strong><br/>{{ trick.createdThe | date("d/m/Y") }}</strong> par<br/><strong>{{ trick.userCreate.username }}</strong></span>
                        </div>
                        <div class="col-6 col-sm-5 col-lg-4 offset-sm-1 blue lighten-4 px-2">
                            <span>Modifié le <strong><br/>{{ trick.updatedThe | date("d/m/Y") }}</strong> par<br/><strong>{{ trick.userUpdate.username }}</strong></span>
                        </div>
                    </div>

                    {% if app.user %}
                    <hr class="grey">
                    <form class="row needs-validation text-center" method="post" action="{{ path('tricks_details', {'slug':'blabla'}) }}" novalidate>
                        <div class="col-12">
                            <label for="trick_comment"><strong>Leave a comment !</strong></label>
                        </div>
                        <div class="col-8 col-md-9 col-lg-8 offset-lg-1 form-group mb-0">
                            <textarea class="form-control" id="trick_comment" name="trick_comment" rows="2"></textarea>
                        </div>
                        <div class="col-1 px-0">
                            <button type="submit" class="btn btn-primary" name="comment">Submit</button>
                        </div>
                    </form>
                    {% endif %}

                    <hr class="grey">

                    <div class="row mt-3">
                        <div class="col-2 col-lg-1 offset-lg-1 text-center">
                            <img src="{{ asset('images/no_picture.svg') }}" class="img-fluid">
                        </div>
                        <div class="col-10 col-lg-9 border border-dark">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis euismod magna.<br/><br/>
                                <small class="float-right"><i>Créé le 19/09/18 à 18h04 par </i><strong>Lorem Ipsum</strong></small>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2 col-lg-1 offset-lg-1 text-center">
                            <img src="{{ asset('images/no_picture.svg') }}" class="img-fluid">
                        </div>
                        <div class="col-10 col-lg-9 border border-dark">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis euismod magna. Aenean vel molestie ipsum. Sed urna enim, porta sed pretium vitae, varius ac ex. Cras vitae arcu vehicula, aliquam mauris vel, consectetur quam.<br/><br/>
                                <small class="float-right"><i>Créé le 19/09/18 à 18h03 par </i><strong>Lorem Ipsum</strong></small>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2 col-lg-1 offset-lg-1 text-center">
                            <img src="{{ asset('images/no_picture.svg') }}" class="img-fluid">
                        </div>
                        <div class="col-10 col-lg-9 border border-dark">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis euismod magna. Aenean vel molestie ipsum. Sed urna enim, porta sed pretium vitae, varius ac ex. Cras vitae arcu vehicula, aliquam mauris vel, consectetur quam.<br/><br/>
                                <small class="float-right"><i>Créé le 19/09/18 à 18h02 par </i><strong>Lorem Ipsum</strong></small>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2 col-lg-1 offset-lg-1 text-center">
                            <img src="{{ asset('images/no_picture.svg') }}" class="img-fluid">
                        </div>
                        <div class="col-10 col-lg-9 border border-dark">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis euismod magna. Aenean vel molestie ipsum. Sed urna enim, porta sed pretium vitae, varius ac ex. Cras vitae arcu vehicula, aliquam mauris vel, consectetur quam.<br/><br/>
                                <small class="float-right"><i>Créé le 19/09/18 à 18h01 par </i><strong>Lorem Ipsum</strong></small>
                            </p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-2 col-lg-1 offset-lg-1 text-center">
                            <img src="{{ asset('images/no_picture.svg') }}" class="img-fluid">
                        </div>
                        <div class="col-10 col-lg-9 border border-dark">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis euismod magna. Aenean vel molestie ipsum. Sed urna enim, porta sed pretium vitae, varius ac ex. Cras vitae arcu vehicula, aliquam mauris vel, consectetur quam.<br/><br/>
                                <small class="float-right"><i>Créé le 19/09/18 à 18h00 par </i><strong>Lorem Ipsum</strong></small>
                            </p>
                        </div>
                    </div>


                    <div class="row text-center">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success waves-effect waves-light my-2">
                                <i class="fa fa-gear" aria-hidden="true"></i> Load more
                            </button>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}